OWNER_NAME="Bryan Tech"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "Liffy-MD"
IMAGE_MENU= "https://telegra.ph/file/970b04720c9336b9a970c.mp4"
NUMERO_OWNER= "233263176982"
OWNER_NAME= "᚛Bryan Tech᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
